@using DessingPatterns.Models.Models
@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div  class="col-12">
        @foreach (var item in Model)
        {
            <p>@item.Titulo</p>
        }

    </div>

</div>
